@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@custom-variant dark (&:where(.dark, .dark *));

.markdown-paxapos {
    padding: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: #fff;
    color: #222;
}
